name: Docker Container Build

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  send_github_context:
    uses: n138-kz/n138-kz/.github/workflows/github-act_send_github_context.yml@main
    secrets: inherit # pass all secrets

  docker_login:
    uses: n138-kz/n138-kz/.github/workflows/github-act_docker_login.yml@main
    secrets: inherit # pass all secrets

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Create test .env
      run: touch .env

    - name: Create config directory
      run: mkdir conf.d

    - name: Build the Image
      run: docker compose build --no-cache

    - name: Test run
      run: docker compose up -d

    - run: pwd
      if: always()

    - name: Wait 5s
      if: always()
      run: sleep 5

    - name: Print logs
      if: always()
      run: docker compose logs
